<br><br>
<div class="container">
   <%= simple_form_for [@task_list, @task], html: { class: 'container card bg-faded card-width' } do |f| %>
   <div class="card-block">
      <h1 align="center">Edit Task</h1>
      <br>
      <div class="d-flex flex-column justify-content-center">
         <div>
            <%= f.input :description %>
         </div>
         <div>	
            <%= f.input :due_date %>
         </div>
         <div>	
            <%= f.button :submit %>
         </div>
         <br>
         <div>
            <%=link_to 'Back', task_lists_path, class: "btn btn-xs btn-secondary" %>
         </div>
      </div>
   </div>
   <% end %>
</div>
