<h1 align="center">My Current Tasks in <%= @task_list.name %></h1>
<br>

<div class="container">
   <h3>Filter</h3>
<%= form_tag(task_list_tasks_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search', class: "btn btn-xs btn-info" %>
  <%= link_to 'Show all', task_list_tasks_path, class: "btn btn-xs btn-info"%>
<% end %>
<br>

   <h1>Current Task</h1>
   <% @tasks.each do |task| %>
   <div class="card bg-faded card-width">
      <div class="tasklist-title padding-left">
         Task Description: <%= task.description %><br>
         Due Date: <%= task.due_date %><br>
         Status: <%= link_to "#{task.completed ? 'Completed' : 'In-Progress'}", completed_task_list_task_path(@task_list, task), method: :put %>
      </div>
      <div class="tasklist-body padding-left">
         <%= link_to 'Edit', edit_task_list_task_path(@task_list, task),class: "btn btn-xs btn-success" %>
         <%= link_to 'Destroy', task_list_task_path(@task_list, task), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
      </div>
   </div>
   <br>
   <% end %>
   <%=link_to 'Create new task', new_task_list_task_path(@task_list), class: "btn btn-xs btn-secondary" %>
   <%=link_to 'Back to Home', task_lists_path, class: "btn btn-xs btn-primary" %>
</div>

<br>
