<br><br>
<h1 align="center">Create a new task</h1>
<div class="container">
   <%= simple_form_for [@task_list, @task], html: { class: 'container card bg-faded card-width' } do |f| %>
   <div class="card-block">
      <br>
      <div class="d-flex flex-column justify-content-center">
         <div>
            <%= f.input :description, label: 'Task Description' %>
         </div>
         <div>
            <%= f.input :due_date %>
         </div>
         <div>
            <%= f.button :submit %>
         </div>
         <br>
         <div>
         </div>
      </div>
   </div>
   <% end %>
   <br>
   <%=link_to 'Back', task_list_tasks_path, class: "btn btn-xs btn-secondary" %>
</div>

<br>
