
<h1><%= @user.name %> |  Task Lists</h1>

<h3>Filter</h3>
<%= form_tag(task_lists_path, method: :get) do %>
  <%= text_field_tag :term, params[:term] %>
  <%= submit_tag 'Search' %>
  <%= link_to 'Show all', task_lists_path%>
<% end %>
<br>
<div class="container">
   <% @task_lists.each do |tasklist| %>
   <div class="card bg-faded card-width">
      <div class="tasklist-title padding-left">
         <%= tasklist.name %>
      </div>
      <div class="tasklist-body padding-left">
         <%= link_to 'Show', task_list_tasks_path(tasklist.id), class: "btn btn-xs btn-info" %>
         <%= link_to 'Edit', edit_task_list_path(tasklist), class: "btn btn-xs btn-success" %>
         <%= link_to 'Destroy', task_list_path(tasklist.id), class: "btn btn-xs btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
   </div>
   <br>
   <% end %>
   <%=link_to 'Create new tasklist', new_task_list_path, class: "btn btn-xs btn-secondary" %>
</div>

<%=link_to 'Create new tasklist', new_task_list_path %>

<% if logged_in? %>
    <%= link_to 'Logout', logout_path, method: :delete %>
<% end %>
